* {
	margin: 0;
	padding: 0;
	

}
.container-fluid {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/Background.png);
	background-size: cover;
	background-position: center;
	
}
.container{
	max-width: 1200px;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0  25px;
}
.container h2{
	font-family: arial, sans-serif;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
.container ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container ul li {
	font-family: arial;
	color: #fff;
	list-style: none;
	margin-right: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}
.container ul li:first-child{
	color: #85c2ce;
}
.container ul li:hover{
	color: #fff;
}
.container  a:first-child{
	color: #fff;
}
.container  a:hover{
	color: #fff;
}
.container .btn{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	border: none;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color:#fff;
	color:#85c2ce;
	transition: 0.5s;
}
.container .btn:hover{
	background-color:#85c2ce;
	color:#fff;
}
.content{
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0  25px;
}
.content h1 {
	font-family: arial;
	font-weight: bold;
	color: #fff;
	font-size: 40px;
	padding-top: 35px;
	text-align: center;
}
.content p {
	font-family: arial;
	font-weight: bold;
	line-height: 29.99px;
	padding-top: 30px;
	color: #fff;
	text-align: center;
	max-width: 900px;
}
.content .btn{
	width: 100px;
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: transparent;
	color:#fff;
	transition: 0.5s;
	margin: 30px auto ;
}

.content2 .ent{
	width: 500px;
	height: 50px;
	border-radius: 40px;
	font-size: 19px;
	border: 6px  solid #fff;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: transparent;
	color:#fff;
	transition: 0.5s;
	margin-top: 20px;
	position: absolute;
    left: 29%;
}

.content2 .ent:hover{
	background-color:#fff;
	color:#85c2ce;
}
.hero-text .ent{
	width: 500px;
	height: 30px;
	border-radius: 20px;
	font-size: 19px;
	border: 3px  solid #fff;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: transparent;
	color:#fff;
	transition: 0.5s;
	margin-top: 10px;
	position: absolute;
    left: 10%;
}

.hero-text .ent:hover{
	background-color:#fff;
	color:#85c2ce;
}
footer{
	font-family: arial;
	padding: 10px 0;
	background-color: rgba(133, 194, 206, 0.3);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
}
p {
	font-family: arial;
	color: #fff;
}
.icon{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #85c2ce;
  color: white;
}

.icon a :hover {
  background-color: #ddd;
  color: black;
    background-color: #85c2ce;

}
.hero-text {
  text-align: center;
  position: absolute;
  top: 55.55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;

}
.hero-text .FFA{
	width: 150px;
	height: 20px;
	border-radius: 12px;
	font-size: 15px;
	border: 1.5px  solid #fff;
	display: flex;
	justify-content: center;
	background-color: transparent;
	color:#fff;
	transition: 0.5s;
    left: 40%;
	position: absolute;

	}
.hero-text .FFA:hover{
	background-color:#fff;
	color:#85c2ce;
}
.text{
	font-size: 13.5;
	padding-top: 0px;
}

.content2 h1{
		color: #fff;
	font-family: arial;
	font-weight: bold;
	font-size: 50px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset] {
  width: 100%;
  background-color: #C0C0C0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
form {
  background:rgba(255, 255, 255, 0.1);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);  
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px 
}
.flip-card {
	width: 600px;
	height: 200px;
	perspective: 1000px;
	margin: 20px auto;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flip-card-back {
	color: #fff;
	transform: rotateY(180deg);
	background-color: rgba(133, 194, 206, 0.5);
	padding: 15px;
	border-radius: 10px;
}
